/* Intro-Bold */
@font-face {
	font-family: "Intro-Bold";
	src: url("fonts/intro-bold/intro-bold.eot"); /* IE9 Compat Modes */
	src: url("fonts/intro-bold/intro-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("fonts/intro-bold/intro-bold.otf") format("opentype"), /* Open Type Font */
		url("fonts/intro-bold/intro-bold.svg") format("svg"), /* Legacy iOS */
		url("fonts/intro-bold/intro-bold.ttf") format("truetype"), /* Safari, Android, iOS */
		url("fonts/intro-bold/intro-bold.woff") format("woff"), /* Modern Browsers */
		url("fonts/intro-bold/intro-bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

/* Intro-Regular */
@font-face {
	font-family: "Intro-Regular";
	src: url("fonts/intro-regular/intro-regular.eot"); /* IE9 Compat Modes */
	src: url("fonts/intro-regular/intro-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("fonts/intro-regular/intro-regular.otf") format("opentype"), /* Open Type Font */
		url("fonts/intro-regular/intro-regular.svg") format("svg"), /* Legacy iOS */
		url("fonts/intro-regular/intro-regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("fonts/intro-regular/intro-regular.woff") format("woff"), /* Modern Browsers */
		url("fonts/intro-regular/intro-regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

input[type=text]{
   width:200px;
   height: 30px;
   background-color: #F3F3F3;
   border: none;
   padding:17px;
   margin:10px 0;
}

body {
	background-color: #FAFAFA;
	padding: 0;
	margin: 0;
}

form {
	display: inline-block;
    margin-top: 0em;
    margin-block-end: 0em;
}

::-webkit-input-placeholder {
	color:#B1B1B1;
	font-family: "Intro-Regular";
	font-size: 13px;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.container h1 {
	font-family: "Intro-Bold";
	font-size: 50px;
	margin-top: 100px;
	margin-bottom: 15px;
}

.text-area {
	display: flex;
}

.text-area p {
	font-family: "Intro-Regular";
	font-size: 15px;
	margin-right: 15px;
}